.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px 0;
	height: 420px;
	width: 100%;
	background-color: aqua;
}

.carousel img {
	height: 400px;
	width: 100%;
	object-fit: cover;
}
