.modal-bg {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.603);
	z-index: 3;
	width: 100vw;
	height: 100dvh;
	max-width: 100%;
	max-height: 100%;
}

.task-modal {
	position: absolute;
	top: 0%;
	left: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	height: 600px;
	background-color: var(--grad-left);
	border: var(--dash-element-border);
	border-radius: 20px;
	margin: 200px auto;
	z-index: 4;
}

.modal-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.modal-btn {
	width: 150px;
	height: 35px;
	margin: 15px;
	margin-bottom: 15px;
}

.form-element {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.modal-input {
	width: 350px;
	height: 30px;
	margin-top: 5px;
	background-color: var(--dash-element-bg);
	border: var(--dash-element-border);
}

.text-area {
	resize: none;
	height: 130px;
	margin-bottom: 80px;
}

.new-task-form {
	height: fit-content;
	width: fit-content;
}

.modal-footer {
	margin-bottom: 20px;
}
