.loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 300px auto;
	width: 500px;
	height: 500px;
	background-color: var(--dash-element-bg);
	border: var(--dash-element-border);
	border-radius: 20px;
}
