.task-card {
	position: relative;
	overflow-x: visible;
	margin: 20px auto;
	padding: 10px;
	width: 90%;
	height: 180px;
	background-color: var(--grad-left);
	border: var(--dash-element-border);
	border-radius: 20px;
	box-shadow: var(--dash-element-shadow);
	will-change: transform;
	transition: transform 0.25s ease, border 0.25s ease, box-shadow 0.25s ease;
}
.task-card:hover {
	width: 400px;
	cursor: pointer;
	transform: scale(1.4);
	border: 4px solid var(--highlight-color);
	z-index: 4;
	overflow-x: visible;
}

.task-title {
	font-size: 1.1rem;
	padding-bottom: 5px;
	border-bottom: 2px solid var(--dash-element-border-color);
}

.task-desc {
	width: 100%;
	height: 50%;
	padding-top: 5px;
	border-bottom: 2px solid var(--dash-element-border-color);
}

.task-buttons {
	height: 50px;
	display: flex;
  justify-content: flex-end;
	gap: 30px;
	align-items: center;
  margin-right: 20px;
}

.btn {
	width: 100px;
	height: 30px;
	margin: 0;
	padding: 0;
}

.assign-button {
	background-color: var(--assign-button-color);
}

.complete-button {
	background-color: var(--complete-button-color);
}


