.list-wrapper {
	height: 650px;
	width: 450px;
	overflow: visible;
}

.list-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.list-title {
	font-size: 1.7rem;
  padding-left: 70px;
}

.create-task-btn {
  width: 80px;
  height: 30px;
  transition: transform 0.3s ease;
}

.create-task-btn:hover {
  transform: scale(1.2);
}

.scroll-area {
	height: 100%;
	width: 100%;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow-y: auto;
	overflow-x: visible;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.scroll-area::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
}

.scroll-area::-webkit-scrollbar {
	width: 8px;
}
.scroll-area::-webkit-scrollbar-thumb {
	background: rgb(76, 0, 57);
	border-radius: 4px;
}
.scroll-area {
	scrollbar-width: thin;
	scrollbar-color: rgb(141, 24, 145) rgb(76, 0, 57);
}
