.dashboard{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Dash Header */
.dash-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  margin-top: 40px;
}

.burger-menu:hover {
  cursor: pointer;
}

.widgets {
  display: flex;
  gap: 60px;
  font-size: 1.3rem;
}

.current-level{
  display: flex;
  gap: 20px;
  width: 100%;
}

.profile-widget {
  height: 120px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  background-color: rgb(33, 0, 25);
  border: 2px solid rgb(76, 0, 57);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(5, 0, 4);
}

.user-info {
  margin: auto 0;
  text-align: start;
}
.level-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 350px;
  margin: auto 0;
  background-color: rgb(33, 0, 25);
  border: 2px solid rgb(76, 0, 57);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 20px rgb(5, 0, 4);
}

.level-widget p {
  width: 100%;
  text-align: start;
}

.profile-pic {
  margin: auto 0;
  background-color: rgb(120, 89, 136);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Task Section */
.dash-main {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.dash-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 800px;
  width: 80px;
  border: 2px solid rgb(76, 0, 57);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgb(5, 0, 4);
}

.dash-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(33, 0, 25);
  border: 2px solid rgb(76, 0, 57);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(5, 0, 4);
}

.task-list {
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgb(33, 0, 25);
	border: 2px solid rgb(76, 0, 57);
	border-radius: 20px;
	box-shadow: 10px 10px 20px rgb(5, 0, 4);
}

.task-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  height: 800px;
  width: 1900px;
  border: 2px solid rgb(76, 0, 57);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(5, 0, 4);
}

.task-view-container p {
  text-align: start;
}

.metrics-view-container {
  height: 800px;
  width: 350px;
  border: 2px solid rgb(76, 0, 57);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(5, 0, 4);
}