.dash-bg {
  background-color: var(--dash-element-bg);
}
.dash-border {
  border: var(--dash-element-border);
}
.dash-shadow {
  box-shadow: var(--dash-element-shadow);
}

.dashboard{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Dash Header */
.dash-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  margin-top: 40px;
}

.burger-menu:hover {
  cursor: pointer;
}

.widgets {
  display: flex;
  gap: 60px;
  font-size: 1.3rem;
}

.current-level{
  display: flex;
  gap: 20px;
  width: 100%;
}

.profile-widget {
  height: 120px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  border-radius: 20px;
}

.user-info {
  margin: auto 0;
  text-align: start;
  color: white;
}
.level-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 350px;
  margin: auto 0;
  border-radius: 20px;
  padding: 20px;
}

.level-widget p {
  width: 100%;
  text-align: start;
}

.profile-pic-container {
  margin: auto 0;
  background-color: var(--highlight-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: var(--dash-element-border)
}

/* Task Section */
.dash-main {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.dash-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 800px;
  width: 80px;
  border-radius: 20px;
}

.team-buttons-alignment {
  margin-left: 250px;
  width: 300px
}

.dash-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.task-list {
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 20px;
}

.task-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 1680px;
  border-radius: 20px;
}

.task-view-container p {
  text-align: start;
}

.metrics-view-container {
  height: 800px;
  width: 350px;
  border-radius: 20px;
}