.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  height: 100%;
}

.tagline {
  font-size: 2rem;
  margin: 30px;
}

.pitch {
  width: 60%;
  margin: auto;
}

.functionality {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin: 150px;
}