@import 'tailwindcss';

:root {
	--grad-left: rgb(23, 0, 17);
	--grad-right: rgb(49, 0, 37);

  --dash-element-bg: rgb(33, 0, 25);
  --dash-element-border: 2px solid rgb(76, 0, 57);
  --dash-element-border-color: rgb(76, 0, 57);
  --dash-element-shadow: 10px 10px 20px rgb(5, 0, 3);

  --assign-button-color: rgb(56, 14, 134);
  --complete-button-color: rgb(14, 134, 94);

  --highlight-color: rgb(87, 9, 41);

  background-color: rgb(8, 0, 4);

  font-family: "Lora", serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #31001d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff64dd;
  background-color: #4d0731;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
